extends baseEmail

block content
    p Hi #{firstName},
    p  Submit a PATCH request with your Email confirmation to: #{url}
    p (Website for this action not yet implemented.)
    table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Confirm Your Email
    p If you need any help, please don't hesitate to contact me!
    p - SSA